* {
  box-sizing: border-box;
}

body {
  background: #F2F2F2;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  font-family: $primary-font;
}

a {
  text-decoration: none;
  transition: .3s;
}

button {
  cursor: pointer;
}

ul, ol {
  margin: 0;
  padding: 0;
}

main.content-wrap {
  min-height: calc(100vh - 206.5px);
  padding-bottom: 65px;
}

.btn-to-top {
  display: inline-flex;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.0001);
  border: 1px solid #777777;
  position: fixed;
  bottom: 20vh;
  right: 5vw;
}

.btn-more-record {
  background: linear-gradient(32.95deg, #ffcc21 8.75%, #ff963c 86.64%);
  border: none;
  font-family: $secondary-font;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.44;
  text-align: center;
  color: #ffffff;
  padding: 15px;
  min-width: 250px;
  border-radius: 4px;
  margin: auto;
  display: block;
  transition: .3s;

  &:hover {
    opacity: .9;
  }
}

.not-found {
  color: $primary-color;
  font-size: 40vh;
  text-align: center;
  padding: 5vh 0;
}
