.header {
  background: #414141;

  .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .-logo {

    }

    .-menu-wrap ul.-menu {
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      list-style: none;

      li a {
        font-family: $secondary-font;
        font-weight: 300;
        font-size: 16px;
        line-height: 1.45;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }

    .notice-wrap {
      position: relative;

      .notice {
        position: absolute;
        top: -2px;
        right: -8px;
        width: 16px;
        height: 16px;
        font-size: 10px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: $primary-color;
        border-radius: 50%;
      }
    }
  }
}